extends layout

block content
  h1= title
  p Welcome to #{title}
  p Test Luis
  p Test Edgar

  .container
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand Test
    .row
      .col-sm-8
        .panel.panel-default
          .panel-heading
            .panel-title Library
          p Client
        button.btn.btn-primary.btn-block(type="button") Show

      .col-sm-3
        .panel.panel-default
          .panel-heading
            .panel-title Example
          .panel-body
        button.btn.btn-info.btn-block(type="button") Create
        button.btn.btn-success.btn-block(type="submit") Edit
