h1 Segunda Vista!
    script(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js)
    script(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css)
p
    | #{nombre}
    | #{apellido}
p.  button.btn.btn-default.btn-block(type=submit)My button
        