extends layout
block content
    h1 Mi perfil
        h2 Nombre: Lupita Chacon
        h2 Empresas: 3DRobotics, Steelcase
        h2 Lenguajes de programacion: php, javascript
        a(href="https://github.com/LupitaChacon") Visita mi Github

