extends layout
//
   Created by oscar on 13/06/16.
block content
    H1 Mi Perfil
    H2 Oscar

    p Nombre: Oscar Fernando Garcia Lopez (CTO)
    p Empresas: Steelcase
    p Lenguajes de Programacion: Yo programo en EXCEL
    p Visti mi github:

        a(href="https://github.com/dottiestjam") Dale Click
